h1.header {
    text-align: left;
    margin-left: 50px;
}

.like-button {
    width: 50px;
    background-color: rgb(79, 74, 74);
}

.artist-post-name {
    font-size: larger;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: hel
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.artist-avatar {
    height: 200px;
    width: 200px;
}

.navbar {
    display: flex;
    background-color: black;
}

.navlink {
    color: whitesmoke;
    font-size: larger;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s linear;
}
.navlink:hover {
    color: rgb(242, 159, 51);
}


.log-in-header {
    position: relative;
    text-align: right;
    margin-right: 50px;
    color: whitesmoke;
    bottom: 40px;
    font-size: medium;
}

.delete {
    width: 100px;
}

.header {
    font-style: italic;
    background-image: linear-gradient(to right, white, black);
    font-family: hel;
}

.like-number {
    font-size: x-large;

}
