h1.header {
    text-align: left;
    margin-left: 50px;
}

.like-button {
    width: 50px;
    background-color: rgb(115, 111, 111);
    transition: all 200ms linear;
}

.like-button:hover {
    background-color: rgb(29, 168, 99);
}

.artist-post-name {
    font-size: larger;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: hel;
    
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.artist-avatar {
    height: 200px;
    width: 200px;
}

.navbar {
    display: flex;
    background-color: rgb(115, 111, 111);
}

.navlink {
    color: whitesmoke;
    font-size: larger;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s linear;
}
.navlink:hover {
    color: rgb(0, 0, 0);
}


.log-in-header {
    position: relative;
    text-align: right;
    margin-right: 50px;
    color: whitesmoke;
    bottom: 40px;
    font-size: medium;
}

.delete {
    width: 100px;
    color: rgb(105, 24, 24);
    transition: all .3s linear;

}

.delete:hover {
    background-color: rgb(253, 64, 64);
    color: whitesmoke;
}

.header {
    font-style: italic;
    background-image: linear-gradient(to right, white, black);
    font-family: hel;
    height: 100px;
    font-size: 75px;
}

.like-number {
    font-size: x-large;

}

.navbar {
    bottom: 10px;
}

.component {
    margin-left: 20px;
}

.artist-bio {
    margin-top: 30px;
}

.have-a-look {
    font-style: italic;
}

.new-account-profile-pic {
    width: 220px;
    height: 220px;
}

.card {
    transition: all .3s linear;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

.card:hover {
    background-color: rgb(223, 223, 223);
    transform: scale(1.02);
}

.form {
    padding: 10px;
    font-size: larger;
    font-style: oblique;
    
}

.input {
    border-radius: 10px;
}

.image {
    margin-left: 15px;
    margin-top: 15px;
}

.text-area {
    width: 300px;
    height: 100px;
    border-radius: 10px;
}


.post-text {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.have-a-look {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 500;
    
}

.input-prompt {
    margin-top: 30px;
    margin-bottom: 5px;
}

.button {
    border-radius: 10px;
    transition: all .3s linear;
}

.button:hover {
    background-color: rgb(115, 111, 111);
    color: aliceblue;
}